<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://use.fontawesome.com/e5cb7ed628.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
    	body{
    		padding: 14vw 4vw 2vw 4vw;
    	}
    </style>
</head>
<body>
<div class="container">
   <div class="row">
     <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <p>Login or Register with:</p>
	    <a href="/login/screen" class="btn btn-default"><span class= "fa fa-user"></span> Local Login</a>
	    <a href="/signup/screen" class="btn btn-default"><span class= "fa fa-user"></span> Local Signup</a>
     </div>
   </div>
</div>
</body>
</html>